*{
	margin: 20px 20px 20px 20px;
	padding: 0px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:boredr-box;
	-ms-box-sizing:border-box;

}
footer{
	display: block;
	text-align: center;
}

body{
	background-color: #bfd8d2;
}
.overall-page{
background-color: #BFD8D2;
}
.top-header{
	background-color: #bfd8d2;
}
h1{
	text-align: center;
	font-family: helvetica;	
	background-color: #bfd8d2;
	color:#6d756a;
}
img{
	width:1000px;
	position: center;
	background-color: #bfd8d2;
	padding-left: 40px;
}
h2{
	text-align: center;
	background-color: #bfd8d2;
	color: #6d756a;
	font-family: helvetica;

}
.timeline-header{
	background-color: #bfd8d2;
	margin-top: -20px;
	text-align: center;
}
.timeline-header h3{
	background-color: #bfd8d2;
	color: #6d756a;
	font-family: helvetica;
}

h3{
	text-align: center;
	font-family: helvetica;
	margin-top: -20px;
	background-color: #bfd8d2;
	color: #6d756a;
}
.timeline{
	background-color: #bfd8d2;
	margin-top: -20px;	
}
.text-pos{
	text-indent: 0px;
}

ul{
	background-color: #bfd8d2;
	font-family: monospace;
}
li{
	background-color: #bfd8d2;
	font-family: monospace;
}
li p{
	text-indent:87px;
	display:block;
}
li strong{
	background-color: #bfd8d2;
}
.inspire{
	background-color: #bfd8d2;
	text-align: center;
	color: #6d756a;
	margin-top: -20px;
	padding-bottom: 10px;
}
.inspire h3{
	background-color: #bfd8d2;
	margin-top: -20px;
	padding-top: 10px;
	font-family: helvetica;
}
.inspiration{
	background-color: #bfd8d2;
	margin-top: -20px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	font-family: monospace;

}

p{
background-color: #bfd8d2;
}

.gr-insults{
	text-align: center;
	font-family: helvetica;
	color: #6d756a;
	margin-top:10px;
}
.gr-insults h3{
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.carousel-inner > .item >img{
  margin:0 auto;
  width:640px;
  height:360px;
  padding-bottom: 10px;
}
#myCarousel{
	margin-top:200px;
}
.carousel-indicators{
visibility: hidden;
}
.carousel .carousel-control{
  visibility: hidden;
  }
.carousel:hover .carousel-control{
  visibility: visible;
}
.carousel{
	background: #bfd8d2;
}
a{
  color: #0E0816;
}
.gr-summary{
	background-color: #bfd8d2;
}
.gr-summary h3{
	text-align: center;
	color: #6d756a;
	margin-bottom: -10px;
	margin-top: -10px;
	font-family: helvetica;
}
.summary-text{
	background-color: #bfd8d2;
	font-family: monospace;
	margin-top: -5px;
	padding-right: 10px;
}

@media only screen and (min-device-width:320px) and (max-device-width:480px){
	/* styles apply only when viewed on smartphones*/
	h1{
		text-align: center;
		font-size: 50px;
	}
	h2{
		font-size: 30px;
	}
	h3{
		font-size: 25px;
		margin-top: -20px;
		padding-bottom: 10px;
	}
	ul li p{
		text-indent: 0px;
		font-size: 25px;
	}
	ul li{
		display:inline-block;
		font-size: 25px;
		font-family: verdana;
	}
	.text-pos{
		text-indent: 87px;
		font-size: 25px;
	}
	.timeline{
		font-size: 25px;
	}
	.timeline ul li{
		font-size: 25px;
		font-family: verdana;
	}
	.inspiration{
		font-size: 20px;
		font-family: verdana;
	}
	#myCarousel{
		margin-top: -50px;
		margin-left: -15px;
	}
	.summary-text{
		font-family: verdana;
		font-size: 20px;
	}
	.summary-text p{
		text-indent: 10px;
	}
	.gr-summary{
		font-size: 30px;
	}


}