/*
*
*
*
*
*
**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-size: 14px;
    font-family: 'Open Sans', 'Josefin Sans', sans-serif;
    font-weight: 300;
    min-height: 100%;
   
}
body{
    color: $color2;
    background: $color0;
    height: 100%;
}
.brand-color{ color: $color5; }
.mt-12e{ 
    margin-top: 12em;
    @include screenSize(ss-phone){
        margin-top:8em;
    }
}
.text-dark{ color: $color1; }
.mt-8{ margin-top: 8em;
    @include  screenSize(ss-phone) {
        margin-top: 4em;
    }
}
.nav-bg-light{ background: rgba(244, 244, 244, 1); }
.w-80{ width: 80% !important;}
.w-33p{ width:33% !important; }
.h-229{ height: 229px; }
.h-238{ height:238px; }
.grey-color{ color: $color10; }
.w-50p{ width: 50% !important; }
.pt-12e{ padding-top: 12rem; 
    @include screenSize(ss-phone) {
        padding-top:0rem;
    }
}
.f-16{ font-size: 16px; }
.f-18{ font-size: 18px; }
.f-36{ font-size:30px; }
.f-60{ 
    font-size: 60px;
    @include screenSize(ss-phone){
        font-size: 48px;
    }
}
.f-jose{ font-family: 'Josefin Sans', sans-serif; }
.bg-dark{
    background: $color4;
}
.pt-5r{ padding-top: 5rem; }
.uppercase{ text-transform: uppercase; }
.bd-b-brand{ border-bottom: 3px solid $color5 !important; }
.br-0{ border-radius: 0; }
// header

#header{
    box-shadow:0 1px 20px rgba(0, 0, 0, 0.2);
    height:100px;
    font-family: "Open Sans", sans-serif;
    z-index: 9999;
    @include screenSize(ss-phone){
        height: 80px;
    }
}
.header-fixed-top{
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
}
ul#navbar{
    position: absolute;
    width:100%;
    right:-50.5%;
    top: 0.5px;
    @include screenSize(ss-phone){
        right:0;
        top:inherit;
        background: $color1;
        position: relative;
    }
    @include screenSize(tablet){
        right: -33.5%;
    }
}
.nav-item{
    height: 100px;
    width:135px;    
    box-shadow:  0 0 20px rgba(0, 0, 0, 0.7);
    @include screenSize(ss-phone){
        height: 60px;
        width:100%;
    }
    @include screenSize(tablet) {
        width: 100px;
    }
}
.navbar-nav .nav-link{
    @include screenSize(ss-phone){
        padding-left: 12px;
    }
}
.navbar-toggler{
    @include screenSize(ss-phone){
        padding: .25rem 1.75rem;
        color: $color5;
        border: 1px solid $color5;
        margin-right: 23px;
        height: 40px;
    }
}

.big-icon{
    position: absolute;
    top: 8px;
    font-weight: 400;
    font-family: "Josefin Sans";
    font-size: 60px;
    line-height: 80px;
    @include screenSize(ss-phone){
        display: none;
    }
    ion-icon{
        color: $color10;
        font-size: 60px;
        position: absolute;
        left: 60px;
        @include screenSize(ss-phone){
            display: none;
        }
    }
}

.menu-item-link{
    position: absolute;
    font-size: 12px;
    padding: 40px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    color: $color9;
    font-weight: 600;
    width:inherit;
    height: inherit;
    &:hover{
        color:$color9;
    }
    @include screenSize(ss-phone){
        position: relative;
        padding: 22px 0px;        
    }
}
.menu-item-link.active{
    background-color: rgba(180, 110, 60, 0.7);
}

main{
    @include screenSize(ss-phone){
        width:100%;
    }
}

.welcome-text{
    p{
        color:#fff;
        font-weight:400;
        font-family: "Josefin Sans", sans-serif;
        font-size: 36px;
        @include screenSize(ss-phone){
            font-size: 30px;
            letter-spacing: 1px;
            text-align: center;
        }
    }
}
.sub-text p{
    color:$color6;
    font-size: 14px;
    @include screenSize(ss-phone){
        font-size: 14px;
        padding: 0 10px;
    }
    
}
.head-hr:before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #b46e3c;
    left: 36%;
    bottom: 1px;
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    @include screenSize(ss-phone){
        left:45%;
    }
}
.head-hr:after{
    content: "";
    position: absolute;
    width: 150px;
    border-bottom: 1px solid #b46e3c;
    left: 27%;
    bottom: 5px;
    @include screenSize(ss-phone){
        left: 23%;
    }
}
.form-hr:before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #b46e3c;
    left: 47%;
    bottom: 1px;
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    @include screenSize(ss-phone){
        left:45%;
    }
    @include screenSize(tablet) {
        left:50%;
    }
}
.form-hr:after{
    content: "";
    position: absolute;
    width: 150px;
    border-bottom: 1px solid #b46e3c;
    left: 35%;
    bottom: 5px;
    @include screenSize(ss-phone){
        left: 24%;
    }
    @include screenSize(tablet) {
        left:29%;
    }
}
.left-hr:before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #b46e3c;
    left: 2%;
    bottom: 1px;
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.left-hr:after{
    content: "";
    position: absolute;
    width: 150px;
    border-bottom: 1px solid #b46e3c;
    left: 3%;
    bottom: 5px;
}
.heading{
    @include screenSize(ss-phone){
        margin-top: 1em;
    }
}
.hor-hr{
   margin: auto;
    width: 2px;
    height: 50px;
    background-color: #b46e3c;
}


.pos-abs{ position: absolute; }
.pos-rel{ position: relative; }
.post-date{
    width: 80px;
    height: 80px;
    background: #b46e3c;
    position: absolute;
    bottom: 0;
    left: 34px;
    color: #fff;
   
    .day{
        font-size: 32px;
        text-align: center;
        font-weight:500;
        display: block;
        @include screenSize(ss-phone) {
            display: inline-block;
        }
    }
    .month{
        font-size:16px;
        text-align:center;
        display: block;
        @include screenSize(ss-phone) {
            display: inline-block;
        }
    }
    @include screenSize(ss-phone){
        height: 40px;
        left: 16px;
    }
    @include screenSize(tablet) {
        width: 60px;
    }
}
.post-tags{
    font-size:12px;
    color: $color6;
    span{
        @include screenSize(ss-phone) {
            display: block;
        }
    }
}
.post-title{
   @include screenSize(ss-phone) {
        margin-top:4em !important;
        margin-bottom: 1rem;
   }
}
.blog-post{
    @include screenSize(ss-phone) {
        margin-top: 3em;
    }
}
.contact-form{
    input{
        height: 37px;
        border:none;
        border-left: 1px solid $color10;
        border-right: 1px solid $color10;
        background: $color4;
        width: 90%;
        margin: auto;
        color: #fff;;
    }
    input:active{
        box-shadow: 0 0 0 0.2rem $color5 !important;
        border:none;
    }
    input:focus{
        box-shadow: 0 0 0 0.2rem $color5;
        border:none;
    }
    textarea{
        height: 150px;
        width:90%;
        border:none;
        border-left: 1px solid $color10;
        border-right: 1px solid $color10;
        background: $color4;
        color: #fff;
        margin: auto;
    }
    textarea:focus{
        box-shadow: 0 0 0 0.2rem $color5;
    }
    .send_msg{
        width:120px;
        height: 40px;
        background: $color4;
        margin: auto;
        color: $color10;
        border: 1px solid $color10;
    }
    .send_msg:hover{
        border: 1px solid $color5;
    }
}
.owl-dots{
    height: 20px;
    margin-top:20px;
    text-align: center;
}
.owl-dot{
    border: 1px solid $color4;
    background: $color4;
    width:10px;
    height: 20px;
    display: inline-block;
    margin: 0 5px;
}
.owl-dot.active{
    background: $color5;
    border: 1px solid $color5;
}
.dis-none{
    display: none;
}
.social-icons{
    ion-icon:hover{ color: $color5;}
    i.fa:hover{ color: $color5; }
}

.project-card{
    box-shadow:1px 0px 3px 3px rgba(219, 213, 209, 0.6);
    @include screenSize(ss-phone){
        margin-bottom: 1em;
    }
    @include screenSize(tablet){
        margin-bottom:1em;
    }
}
.footer{
    box-shadow:2px 3px 0px 4px #ddd;
    bottom: -28%;
    @include screenSize(tablet){
        bottom: -110%;
    }
}