$color0 : #fff;
$color1:#191919;
$color2:#272727;
//welcome dark bg
$color3: rgba(34, 34, 34, 0.9);
//for dark brown background
$color4:rgba(26, 26, 26, 0.65);
$color5:#b46e3c;
$color6: rgba(255, 255, 255, 0.5);
//form errors
$color7: #8E2121;
$color8: rgba(255, 255, 255, 0.3);
$color9: rgba(255, 255, 255, 0.9);
$color10: rgba(255, 255, 255, 0.2);




