/*
*
*
*
*
*
**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 14px;
  font-family: 'Open Sans', 'Josefin Sans', sans-serif;
  font-weight: 300;
  min-height: 100%;
}

body {
  color: #272727;
  background: #fff;
  height: 100%;
}

.brand-color {
  color: #b46e3c;
}

.mt-12e {
  margin-top: 12em;
}

@media (max-width: 575px) {
  .mt-12e {
    margin-top: 8em;
  }
}

.text-dark {
  color: #191919;
}

.mt-8 {
  margin-top: 8em;
}

@media (max-width: 575px) {
  .mt-8 {
    margin-top: 4em;
  }
}

.nav-bg-light {
  background: #f4f4f4;
}

.w-80 {
  width: 80% !important;
}

.w-33p {
  width: 33% !important;
}

.h-229 {
  height: 229px;
}

.h-238 {
  height: 238px;
}

.grey-color {
  color: rgba(255, 255, 255, 0.2);
}

.w-50p {
  width: 50% !important;
}

.pt-12e {
  padding-top: 12rem;
}

@media (max-width: 575px) {
  .pt-12e {
    padding-top: 0rem;
  }
}

.f-16 {
  font-size: 16px;
}

.f-18 {
  font-size: 18px;
}

.f-36 {
  font-size: 30px;
}

.f-60 {
  font-size: 60px;
}

@media (max-width: 575px) {
  .f-60 {
    font-size: 48px;
  }
}

.f-jose {
  font-family: 'Josefin Sans', sans-serif;
}

.bg-dark {
  background: rgba(26, 26, 26, 0.65);
}

.pt-5r {
  padding-top: 5rem;
}

.uppercase {
  text-transform: uppercase;
}

.bd-b-brand {
  border-bottom: 3px solid #b46e3c !important;
}

.br-0 {
  border-radius: 0;
}

#header {
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
  height: 100px;
  font-family: "Open Sans", sans-serif;
  z-index: 9999;
}

@media (max-width: 575px) {
  #header {
    height: 80px;
  }
}

.header-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

ul#navbar {
  position: absolute;
  width: 100%;
  right: -50.5%;
  top: 0.5px;
}

@media (max-width: 575px) {
  ul#navbar {
    right: 0;
    top: inherit;
    background: #191919;
    position: relative;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  ul#navbar {
    right: -33.5%;
  }
}

.nav-item {
  height: 100px;
  width: 135px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

@media (max-width: 575px) {
  .nav-item {
    height: 60px;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .nav-item {
    width: 100px;
  }
}

@media (max-width: 575px) {
  .navbar-nav .nav-link {
    padding-left: 12px;
  }
}

@media (max-width: 575px) {
  .navbar-toggler {
    padding: .25rem 1.75rem;
    color: #b46e3c;
    border: 1px solid #b46e3c;
    margin-right: 23px;
    height: 40px;
  }
}

.big-icon {
  position: absolute;
  top: 8px;
  font-weight: 400;
  font-family: "Josefin Sans";
  font-size: 60px;
  line-height: 80px;
}

@media (max-width: 575px) {
  .big-icon {
    display: none;
  }
}

.big-icon ion-icon {
  color: rgba(255, 255, 255, 0.2);
  font-size: 60px;
  position: absolute;
  left: 60px;
}

@media (max-width: 575px) {
  .big-icon ion-icon {
    display: none;
  }
}

.menu-item-link {
  position: absolute;
  font-size: 12px;
  padding: 40px 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
  width: inherit;
  height: inherit;
}

.menu-item-link:hover {
  color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 575px) {
  .menu-item-link {
    position: relative;
    padding: 22px 0px;
  }
}

.menu-item-link.active {
  background-color: rgba(180, 110, 60, 0.7);
}

@media (max-width: 575px) {
  main {
    width: 100%;
  }
}

.welcome-text p {
  color: #fff;
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif;
  font-size: 36px;
}

@media (max-width: 575px) {
  .welcome-text p {
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
  }
}

.sub-text p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}

@media (max-width: 575px) {
  .sub-text p {
    font-size: 14px;
    padding: 0 10px;
  }
}

.head-hr:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #b46e3c;
  left: 36%;
  bottom: 1px;
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (max-width: 575px) {
  .head-hr:before {
    left: 45%;
  }
}

.head-hr:after {
  content: "";
  position: absolute;
  width: 150px;
  border-bottom: 1px solid #b46e3c;
  left: 27%;
  bottom: 5px;
}

@media (max-width: 575px) {
  .head-hr:after {
    left: 23%;
  }
}

.form-hr:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #b46e3c;
  left: 47%;
  bottom: 1px;
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (max-width: 575px) {
  .form-hr:before {
    left: 45%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .form-hr:before {
    left: 50%;
  }
}

.form-hr:after {
  content: "";
  position: absolute;
  width: 150px;
  border-bottom: 1px solid #b46e3c;
  left: 35%;
  bottom: 5px;
}

@media (max-width: 575px) {
  .form-hr:after {
    left: 24%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .form-hr:after {
    left: 29%;
  }
}

.left-hr:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #b46e3c;
  left: 2%;
  bottom: 1px;
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.left-hr:after {
  content: "";
  position: absolute;
  width: 150px;
  border-bottom: 1px solid #b46e3c;
  left: 3%;
  bottom: 5px;
}

@media (max-width: 575px) {
  .heading {
    margin-top: 1em;
  }
}

.hor-hr {
  margin: auto;
  width: 2px;
  height: 50px;
  background-color: #b46e3c;
}

.pos-abs {
  position: absolute;
}

.pos-rel {
  position: relative;
}

.post-date {
  width: 80px;
  height: 80px;
  background: #b46e3c;
  position: absolute;
  bottom: 0;
  left: 34px;
  color: #fff;
}

.post-date .day {
  font-size: 32px;
  text-align: center;
  font-weight: 500;
  display: block;
}

@media (max-width: 575px) {
  .post-date .day {
    display: inline-block;
  }
}

.post-date .month {
  font-size: 16px;
  text-align: center;
  display: block;
}

@media (max-width: 575px) {
  .post-date .month {
    display: inline-block;
  }
}

@media (max-width: 575px) {
  .post-date {
    height: 40px;
    left: 16px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .post-date {
    width: 60px;
  }
}

.post-tags {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 575px) {
  .post-tags span {
    display: block;
  }
}

@media (max-width: 575px) {
  .post-title {
    margin-top: 4em !important;
    margin-bottom: 1rem;
  }
}

@media (max-width: 575px) {
  .blog-post {
    margin-top: 3em;
  }
}

.contact-form input {
  height: 37px;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(26, 26, 26, 0.65);
  width: 90%;
  margin: auto;
  color: #fff;
}

.contact-form input:active {
  box-shadow: 0 0 0 0.2rem #b46e3c !important;
  border: none;
}

.contact-form input:focus {
  box-shadow: 0 0 0 0.2rem #b46e3c;
  border: none;
}

.contact-form textarea {
  height: 150px;
  width: 90%;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(26, 26, 26, 0.65);
  color: #fff;
  margin: auto;
}

.contact-form textarea:focus {
  box-shadow: 0 0 0 0.2rem #b46e3c;
}

.contact-form .send_msg {
  width: 120px;
  height: 40px;
  background: rgba(26, 26, 26, 0.65);
  margin: auto;
  color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.contact-form .send_msg:hover {
  border: 1px solid #b46e3c;
}

.owl-dots {
  height: 20px;
  margin-top: 20px;
  text-align: center;
}

.owl-dot {
  border: 1px solid rgba(26, 26, 26, 0.65);
  background: rgba(26, 26, 26, 0.65);
  width: 10px;
  height: 20px;
  display: inline-block;
  margin: 0 5px;
}

.owl-dot.active {
  background: #b46e3c;
  border: 1px solid #b46e3c;
}

.dis-none {
  display: none;
}

.social-icons ion-icon:hover {
  color: #b46e3c;
}

.social-icons i.fa:hover {
  color: #b46e3c;
}

.project-card {
  box-shadow: 1px 0px 3px 3px rgba(219, 213, 209, 0.6);
}

@media (max-width: 575px) {
  .project-card {
    margin-bottom: 1em;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .project-card {
    margin-bottom: 1em;
  }
}

.footer {
  box-shadow: 2px 3px 0px 4px #ddd;
  bottom: -28%;
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer {
    bottom: -110%;
  }
}
