*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
html, body{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 15px;
	font-weight:300;
	width: 100%;
	background: #fff;
	color: #000;
}
/* .content{
	display: none;
} */
.preloader {
	display: block;
	width: 100%;
	height: 99vh;
}

.preloader:after {
	content: " ";
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 1px;
	border-radius: 50%;
	border: 5px solid #17A899;
	border-color: #17A899 transparent #17A899 transparent;
	animation: loader 1.2s linear infinite;
	position: absolute;
	top: 39%;
	left: 50%;
}
@keyframes loader {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
}

header{
	border-bottom: 1px solid #17A899;
	font-size: 18px;
}
.c-blk{ color: #000; }
.bg-green{ background: #17A899; }
.c-green{ color: #17A899; }
.f-16{ font-size: 16px; }
.no-decor{ text-decoration: none; }
.no-decor:hover{ text-decoration: none; }
.bd-green{ border: 2px solid #17A899; }
.bd-white{ border:1px solid #fff !important; }
.bg-dark{ background: #3d3d3d; }
.dis-block{ display: block; }
.welcome{
	background: rgba(0,0,0,0.7);
	/*opacity: 0.5;*/
	font-size: 16px;
	/* height: 300px; */
}
.fw-med{
	font-weight: 500;
}
.mt-4e{
	margin-top:4rem;
}
.mt-5e{
	margin-top: 5rem;
}
.mt-7e{
	margin-top: 7rem;
}
.profile{
	height: 300px;
}
.works{
	margin-top: 4em;
}

.short-hr{
	width: 50px;
	height: 3px;
	background: #000;
	border-radius: 5px;
}
.nav-link:hover{
	color:#17A899;
	font-weight: 500;
}
.articles, .contact{
	margin-top: 5em;
}
.overlay{
	width: 100%;
    padding: 10px;
}

.item {
	width: 200px;
	padding: 10px;
	margin-bottom: 10px;
}
.item-width2 {
	width: 400px;
}

.item > img{
	padding: 10px;
	width: 99%;
	-webkit-box-shadow: 3px 2px 4px 2px rgba(229,229,229,1);
	-moz-box-shadow: 3px 2px 4px 2px rgba(229,229,229,1);
	box-shadow: 3px 2px 4px 2px rgba(229,229,229,1);
	/* border: 1px solid #17A899; */
}
.item, .item:hover{
	text-decoration: none;
}
.footer{
	padding-top: 1em;
	padding-bottom: 10px;
}

/*media queries*/
@media screen and (min-width: 900px){
	.works{
		margin-top: 7rem;
	}
}
@media screen and (max-width: 575px){
	.welcome{
		height: 470px;
	}
	.profile{
		height: 700px;
	}
	.item-width2{
		width: 350px;
	}
}
@media screen and (max-width: 375px){
	body{
		width: 110%;
	}
	p{font-size: 15px;}
	.welcome{ height: 500px; }
	.item-width2 {
		width: 350px;
	}
}
@media screen and (max-width: 320px){
	body{width: 130%; }
	p{font-size: 16px;}
}
