*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
html, body{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 14px;
	font-weight:300;
	width: 100%;
	background: #fff;
	color: #000;
}
header{
	border-bottom: 1px solid #17A899;
}
.c-blk{ color: #000; }
.bg-green{ background: #17A899; }
.c-green{ color: #17A899; }
.f-16{ font-size: 16px; }
.no-decor{ text-decoration: none; }
.no-decor:hover{ text-decoration: none; }
.bd-green{ border: 2px solid #17A899; }
.bd-white{ border:1px solid #fff !important; }
.bg-dark{ background: #3d3d3d; }
.dis-block{ display: block; }
.welcome{
	background: rgba(0,0,0,0.7);
	/*opacity: 0.5;*/
	height: 300px;
}
.profile{
	height: 300px;
}
.works{
	margin-top: 4em;
}
.short-hr{
	width: 50px;
	height: 3px;
	background: #000;
	border-radius: 5px;
}
.nav-link:hover{
	color:#17A899;
	font-weight: 500;
}
.articles, .contact{
	margin-top: 5em;
}
.overlay{
	width: 100%;
    padding: 10px;
}

.item { 
	width: 200px;
	padding: 10px;
	margin-bottom: 10px;
 }
.item-width2 { 
	width: 400px;
}

.item > img{
	width: 99%;	
	border: 1px solid #17A899;
}
.footer{
	padding-top: 1em;
	padding-bottom: 10px;
}

/*media queries*/
@media screen and (max-width: 575px){
	.welcome{
		height: 470px;
	}
	.profile{
		height: 700px;
	}
}
@media screen and (max-width: 375px){
	body{
		width: 110%;
	}
	p{font-size: 15px;}
	.welcome{ height: 500px; }
}
@media screen and (max-width: 320px){
	body{width: 130%; }
	p{font-size: 16px;}
}
