/*** media queries ***/
/* line 1, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

/* line 7, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
html {
  min-height: 100%;
}

/* line 10, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
body {
  height: 100%;
  background-color: white;
  font-size: 15px;
}

@media (min-width: 576px) and (max-width: 767px) {
  /* line 10, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
  body {
    font-szie: 12px;
  }
}

/***Margin***/
/* line 18, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.m-auto {
  margin: auto !important;
}

/* line 19, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.m-3 {
  margin: 3px !important;
}

/* line 20, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.m-5 {
  margin: 5px !important;
}

/* line 21, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.m-8 {
  margin: 8px !important;
}

/***Margin-Top***/
/* line 24, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.m-t-4e {
  margin-top: 4em !important;
}

/* line 25, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.m-t-8 {
  margin-top: 8px !important;
}

/* line 26, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.m-t-20 {
  margin-top: 20px !important;
}

/* line 27, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.m-t-40 {
  margin-top: 40px !important;
}

/* line 28, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.m-t-60 {
  margin-top: 60px !important;
}

/* line 29, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.m-t-m2 {
  margin-top: -2px !important;
}

/* line 30, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.m-t-m20 {
  margin-top: -20px !important;
}

/***Margin-Bottom***/
/* line 34, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.m-b-0 {
  margin-bottom: 0px !important;
}

/* line 35, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.m-b-20 {
  margin-bottom: 20px !important;
}

/* line 36, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.m-b-50 {
  margin-bottom: 50px !important;
}

/* line 37, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.m-b-m18 {
  margin-bottom: -18px !important;
}

/***Margin-Left***/
/* line 40, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.m-l-8 {
  margin-left: 8px !important;
}

/***Margin-Right***/
/* line 43, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.m-r-10 {
  margin-right: 10px !important;
}

/* line 44, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.m-r-20 {
  margin-right: 20px !important;
}

/* line 45, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.m-r-4e {
  margin-right: 4em !important;
}

/* line 46, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.m-r-m15 {
  margin-right: -17px !important;
}

/***padding***/
/***Padding-Top***/
/* line 51, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.p-t-10 {
  padding-top: 10px !important;
}

/* line 52, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.p-t-15 {
  padding-top: 15px !important;
}

/* line 53, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.p-t-30 {
  padding-top: 30px !important;
}

/* line 54, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.p-t-60 {
  padding-top: 60px !important;
}

/* line 55, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.p-t-200 {
  padding-top: 200px !important;
}

/***Padding-Bottom***/
/* line 58, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.p-b-20 {
  padding-bottom: 20px !important;
}

/***Width***/
/* line 61, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.width-100 {
  width: 100px !important;
}

/* line 62, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.width-300 {
  width: 300px !important;
}

/* line 63, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.width-500 {
  width: 500px !important;
}

/* line 64, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.width-600 {
  width: 600px !important;
}

/* line 65, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.width-50p {
  width: 50% !important;
}

/* line 66, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.width-100p {
  width: 100% !important;
}

/***Height***/
/* line 69, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.h-50 {
  height: 50px !important;
}

/* line 70, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.h-100 {
  height: 100px !important;
}

/* line 71, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.h-200 {
  height: 200px !important;
}

/* line 72, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.h-300 {
  height: 300px !important;
}

/* line 73, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.h-400 {
  height: 400px !important;
}

/* line 74, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.h-700 {
  height: 700px !important;
}

/* line 75, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.h-800 {
  height: 800px !important;
}

/***Font-Size***/
/* line 78, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.f-16 {
  font-size: 16px !important;
}

/* line 79, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.f-24 {
  font-size: 24px !important;
}

/* line 80, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.f-60 {
  font-size: 60px !important;
}

/***Font-Weight***/
/* line 83, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.fw-400 {
  font-weight: 400 !important;
}

/***COLOR***/
/* line 86, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.c-dark {
  color: #37474F !important;
}

/***Background-Colors***/
/* line 89, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.bg-dark {
  background: #37474F !important;
}

/* line 90, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.bg-pry-dark {
  background: #3E4551 !important;
}

/* line 91, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.bg-pry-lite {
  background: #4B515D !important;
}

/* line 92, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.bg-white {
  background: #FFF !important;
}

/* line 93, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.bg-blu-lite {
  background: #FAFAFA !important;
}

/* line 94, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.bg-yellow {
  background: #F4FF81 !important;
}

/***Border***/
/* line 97, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.bd-l-yellow {
  border-left: 2px solid #F7B733 !important;
}

/***Border-Radius***/
/* line 100, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.bd-50p {
  border-radius: 50px !important;
}

/***Display***/
/* line 102, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.dis-inline {
  display: inline !important;
}

/* line 103, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.dis-inline-b {
  display: inline-block !important;
}

/* line 104, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.dis-block {
  display: block !important;
}

/***Included***/
/* line 106, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.bh {
  background: #FFF;
  height: 700px !important;
}

/* line 107, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.progress {
  height: 6px !important;
}

/* line 7, C:/Users/Baron2Oxide/portfolio-site/assets/sass/helpers/_mixins.scss */
.progress .progress-bar {
  background: #F7B733 !important;
}

/* line 108, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
.dim {
  margin-left: -13px;
  padding-right: 0px;
}

@media (max-width: 575px) {
  /* line 111, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
  .h-800 {
    height: 1080px !important;
  }
  /* line 112, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
  .experience {
    padding-top: 20px !important;
  }
  /* line 113, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
  .experience h2 {
    text-align: center;
  }
  /* line 114, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
  .job_experience {
    padding-left: 40px !important;
  }
  /* line 115, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
  .section.experience.h-700 {
    height: 1070px !important;
    margin-bottom: 10px !important;
  }
  /* line 119, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
  .section.projects.h-400 {
    height: 500px !important;
  }
  /* line 120, C:/Users/Baron2Oxide/portfolio-site/assets/sass/base/_base.scss */
  .locate_details {
    padding-top: 20px !important;
  }
}

/*# sourceMappingURL=../css/main.map */